<app-form-header mat-dialog-title width="300px" left="-24px" top="-60px">Statistics</app-form-header>
<mat-dialog-content align="center">
  <div>Credentials count: <strong>{{ (dataService.appInformations$ | async).credentialsCount }}</strong></div>
  <div>Generated passwords: <strong>{{ (dataService.appInformations$ | async).passwordGenerated }}</strong></div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close color="primary">OK</button>
</mat-dialog-actions>
