<app-form-header mat-dialog-title width="400px" left="-24px" top="-60px">Application informations</app-form-header>
<mat-dialog-content align="center">
  <img src="./assets/images/key.svg" alt="">
  <strong>Simple Password Manager</strong>
  <p>Created by: Grzegorz Kniażuk</p>
  <p>Contact to author: grzegorz.kniazuk@gmail.com</p>
  <p>License: MIT</p>
  <p>Version: 1.0.0</p>
  <p>2018</p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close color="primary">CLOSE</button>
</mat-dialog-actions>
