@import "./src/assets/styles/base.scss";

.intro-container {
  @include flex(flex, center, center, column);
  @include size(100%, 100%);
  background: $background-222;

  img {
    @include size(150px);
    animation: opacity-1 150ms ease-in;
    margin: 30px 0;
    cursor: pointer;

    &.scale {
      animation: scale-12 2s infinite linear;
    }

    &.rotate {
      animation: rotate-360 1s infinite linear;
    }
  }
}
