@import "./src/assets/styles/base.scss";

.login-container {
  @include flex(flex, center, center, column);
  @include size(100%, 100%);
  background: $background-222;

  .login-form {
    @include flex(flex, center, center, column);
    @include size(320px, 270px);
    background: $background-f8f;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    animation: opacity-1 150ms ease-in;

    mat-form-field {
      @include size(80%);
    }

    p {
      margin-top: 45px;
    }

    .button-container {

      button {
        &:first-of-type {
          padding-right: 30px;
          margin-right: -15px;
        }

        &:nth-of-type(2) {
          cursor: default;
          user-select: none;
          pointer-events: none;
          z-index: 1001 !important;
        }

        &:last-of-type {
          padding-left: 30px;
          margin-left: -15px;
        }
      }

      span {
        @include flex(inline-flex, center, center);
        @include size(60px, 60px);
        border-radius: 50%;
        color: $white;
      }
    }
  }
}


