<div class="table-container">
  <mat-toolbar color="primary">
    <div>
      <mat-icon class="margin-right-15" matTooltip="Password generator settings" (click)="openGeneratorSettingsModal()">build</mat-icon>
      <mat-icon class="margin-right-15" matTooltip="Show statistics" (click)="openStatisticsModal()">show_chart</mat-icon>
      <mat-icon matTooltip="Backup settings" (click)="openBackupSettingsModal()">backup</mat-icon>
    </div>
    <div>
      <mat-icon class="margin-right-15" matTooltip="Check updates" (click)="openUpdatesModal()">update</mat-icon>
      <mat-icon class="margin-right-15" matTooltip="Get help" (click)="openHelpModal()">help_outline</mat-icon>
      <mat-icon class="margin-right-15" matTooltip="Application informations" (click)="openApplicationInfoModal()">info_outline</mat-icon>
      <mat-icon matTooltip="Application settings" (click)="openApplicationSettingsModal()">settings</mat-icon>
    </div>
  </mat-toolbar>

  <mat-form-field *ngIf="dataSource.data.length">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter refers to">
  </mat-form-field>

  <table *ngIf="dataSource.data.length" mat-table matSort [dataSource]="dataSource">

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="id">Modify date</th>
      <td mat-cell *matCellDef="let element"> {{ element.id | date }} </td>
    </ng-container>
    <ng-container matColumnDef="website">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="refersTo">Refers to</th>
      <td mat-cell *matCellDef="let element"> {{ element.refersTo }} </td>
    </ng-container>
    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef>Login</th>
      <td mat-cell *matCellDef="let element"> {{ element.login }} </td>
    </ng-container>
    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef>Password</th>
      <td mat-cell *matCellDef="let element"> {{ element.id === passwordId ? element.password : element.password | passwordHide }} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element" width="160px" class="actions">
        <mat-icon matTooltip="Copy password" (click)="copyPassword(element.password, false)">content_copy</mat-icon>
        <mat-icon matTooltip="Edit credentials" (click)="openEditModal(element)">edit</mat-icon>
        <mat-icon matTooltip="Show password" (mousedown)="showPassword(element)" (mouseup)="passwordId = ''">visibility</mat-icon>
        <mat-icon matTooltip="Delete row" (click)="openConfirmDeleteModal(element)">delete</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnList"></tr>
    <tr mat-row *matRowDef="let row; columns: columnList;"></tr>

  </table>

  <mat-paginator *ngIf="dataSource.data.length" [pageSizeOptions]="[ 2, 4, 8, 16, 24, 32 ]" showFirstLastButtons [pageSize]="pageSize"></mat-paginator>

  <div class="no-data" *ngIf="!dataSource.data.length">
    <span>No data &#9785;</span>
  </div>

  <button class="generate-random-password-button" matTooltip="Generate random password" (click)="generateAndCopyRandomPassword()" mat-fab color="accent">
    <mat-icon>flash_on</mat-icon>
  </button>
  <button class="add-password" matTooltip="Add credentials" (click)="openNewPasswordModal()" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>
