@import "./src/assets/styles/base.scss";

.table-container {
  @include flex(flex, flex-start, center, column);
  @include size(100%, 100%);
  background: $background-222;

  mat-toolbar {
    @include flex(flex, space-between, center, row);

    mat-icon {
      @include size(35px, 35px);
      font-size: 35px;
      cursor: pointer;
      color: $white;
      transition: color 150ms ease-out;
      user-select: none;

      &.margin-right-15 {
        margin-right: 15px;
      }

      &:hover {
        color: $mat-accent;
        transition: color 150ms ease-in;
      }
    }
  }

  mat-form-field {
    background: $white;
    margin: 15px 0 -5px;
    width: 85%;
    box-sizing: border-box;
    padding: 10px 20px 0 20px;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
  table {
    width: 85%;

    th {
      user-select: none;
      vertical-align: middle;
    }

    td {
      vertical-align: middle;
    }

    mat-icon {
      font-size: 30px;
      margin: 8px 15px 0 0;
      color: $black;
      transition: color 150ms ease-out;
      user-select: none;

      &:hover {
        cursor: pointer;
        transition: color 150ms ease-in;
      }

      &:nth-of-type(1), &:nth-of-type(2) {
        &:hover {
          color: $success;
        }
      }

      &:nth-of-type(3) {
        &:hover {
          color: $primary;
        }
      }

      &:nth-of-type(4) {
        &:hover {
          color: $danger;
        }
      }
    }
  }

  mat-paginator {
    width: 85%;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  .no-data {
    margin-top: 15px;
    color: $white;

    span {
      @include font('medium');
    }
  }

  .generate-random-password-button, .add-password {
    position: fixed;
    bottom: 15px;
  }

  .add-password {
    right: 15px;
  }

  .generate-random-password-button {
    right: 85px;
  }
}
