<div class="backup-container">
  <div class="button-container">
    <a class="element" [href]="backupLink" [download]="fileName">
      <button class="backup" mat-raised-button color="primary" (click)="response('backup')">BACKUP CREDENTIALS</button>
    </a>
    <div class="or element"></div><button mat-fab color="primary">OR</button>
    <input class="element" type="file" (change)="restoreData($event)">
    <button class="restore element" mat-raised-button color="accent" (click)="response('restore')">RESTORE CREDENTIALS</button>
  </div>
</div>
