@import "./src/assets/styles/base.scss";

.backup-container {
  @include flex(flex, center, center, column);

  p {
    margin-bottom: 15px;
  }

  .button-container {

    .element {
      display: inline-flex;
    }

    a {
      text-decoration: none;
      .backup {
        padding-right: 30px;
        margin-right: -15px;
      }
    }

    .or {
      cursor: default;
      user-select: none;
      pointer-events: none;
      z-index: 1001 !important;
    }

    input[type='file'] {
      position: absolute;
      top: 30px;
      left: 50%;
      width: 225px;
      opacity: 0;
      overflow: hidden;
      z-index: 1;
      cursor: pointer;
      font-size: 0;
    }

    .restore {
      padding-left: 30px;
      margin-left: -15px;
      z-index: -1;
    }
  }
}
