<app-form-header mat-dialog-title width="480px" left="-24px" top="-66px">Settings</app-form-header>
<mat-dialog-content>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Application settings">
      <form autocomplete="off" [formGroup]="settingsForm" class="app-settings">
        <mat-checkbox formControlName="autostart">Autostart</mat-checkbox>
        <mat-hint>Check if you want the application to be run at system startup.</mat-hint>
        <mat-checkbox formControlName="minimalizeToTray">Minimalize to tray</mat-checkbox>
        <mat-hint>Check if you want the application to be closed to the tray.</mat-hint>
      </form>
    </mat-tab>
    <mat-tab label="Password generator settings">
      <form autocomplete="off" [formGroup]="settingsForm" class="generator-settings">
        <mat-form-field>
          <input matInput formControlName="length" type="text" placeholder="Password length" matTooltip="Length of password">
        </mat-form-field>
        <mat-checkbox formControlName="numbers">Digits chars</mat-checkbox>
        <mat-hint>Check if you want to use digits chars.</mat-hint>
        <mat-checkbox formControlName="symbols">Special chars</mat-checkbox>
        <mat-hint>Check if you want to use special chars.</mat-hint>
        <mat-checkbox formControlName="uppercase">Uppercase chars</mat-checkbox>
        <mat-hint>Check if you want to use uppercase chars.</mat-hint>
        <mat-checkbox formControlName="excludeSimilarCharacters">Uppercase chars</mat-checkbox>
        <mat-hint>Check if you want to exclude similar chars, like 'i' and 'l'.</mat-hint>
        <mat-form-field>
          <input matInput formControlName="exclude" type="text" placeholder="Characters to be excluded from password" matTooltip="Characters to be excluded from password">
        </mat-form-field>
        <mat-checkbox formControlName="strict">Strict mode</mat-checkbox>
        <mat-hint>Check if You want to password must include at least one character from each pool.</mat-hint>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button type="submit" mat-raised-button color="primary" (click)="saveSettings()" [disabled]="settingsForm.invalid">SAVE SETTINGS</button>
  <button type="button" mat-raised-button mat-dialog-close color="warn">ABORT</button>
</mat-dialog-actions>
