<app-form-header
  mat-dialog-title width="420px"
  left="-24px"
  top="-60px">
  {{ credentialsData ? 'Edit credentials' : 'Add new credentials' }}
</app-form-header>
<mat-dialog-content align="center">
  <form [formGroup]="credentialsForm" autocomplete="off">
    <mat-form-field [hideRequiredMarker]="false">
      <input matInput formControlName="refersTo" placeholder="Refers to" type="text" required>
      <mat-error>This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field [hideRequiredMarker]="false">
      <input matInput formControlName="login" placeholder="Username" type="text" required>
      <mat-error>This field is required.</mat-error>
    </mat-form-field>
    <div>
      <mat-form-field [hideRequiredMarker]="false">
        <input matInput
               formControlName="password"
               placeholder="Password"
               [type]="passwordInputFocus ? 'text' : 'password' "
               required
               (focus)="passwordInputFocus = true"
               (blur)="passwordInputFocus = false">
        <mat-error>This field is required.</mat-error>
      </mat-form-field>
      <mat-icon matTooltip="Generate password"
                class="generate-password"
                (click)="generatePassword()">autorenew</mat-icon>
      <mat-icon *ngIf="isPasswordWasGenerated"
                matTooltip="restore previous password"
                class="restore-previous-password"
                (click)="restorePreviousPassword()">restore</mat-icon>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button *ngIf="!credentialsData"
          type="submit"
          mat-raised-button color="primary"
          (click)="saveCredentials()"
          [disabled]="credentialsForm.invalid">SAVE CREDENTIALS</button>
  <button *ngIf="credentialsData"
          type="submit"
          mat-raised-button
          color="primary"
          (click)="updateCredentials()"
          [disabled]="credentialsForm.invalid">UPDATE CREDENTIALS</button>
  <button type="button" mat-raised-button mat-dialog-close color="warn">ABORT</button>
</mat-dialog-actions>
