@import "./src/assets/styles/base.scss";

form {
  @include flex(flex, center, center, column);
  @include size(100%, 100%);

  mat-form-field {
    width: 85%;
  }

  div {
    position: relative;
    width: 85%;
    mat-form-field {
      width: 85%;
    }

    .generate-password, .restore-previous-password {
      display: block;
      position: absolute;
      bottom: 35px;
      cursor: pointer;
      transition: color 150ms ease-out;
      user-select: none;

      &:hover {
        color: $primary;
        transition: color 150ms ease-in;
      }
    }

    .generate-password {
      right: 20px;
    }

    .restore-previous-password {
      right: -5px;
    }
  }
}
