@import "./src/assets/styles/base.scss";

form {
  @include flex(flex, flex-start, flex-start, column);
  @include size(100%, 100%);

  mat-form-field:first-of-type {
    width: 30%;
  }

  mat-form-field:last-of-type {
    width: 80%;
  }

  mat-hint {
    margin-left: 25px;
  }
}
