mat-form-field {
  margin-bottom: 15px;
}

mat-error {
  @include font('ultra-small');
  margin-top: -8px;
}

mat-checkbox {
  user-select: none;
}

mat-dialog-content {
  margin-top: -30px;
}

mat-hint {
  @include font('ultra-small');
  margin-top: -8px;
  margin-bottom: 18px;
  user-select: none;
}

.mat-dialog-container {
  overflow: visible !important;
}

button:disabled {
  cursor: not-allowed;
}

.toast-success {
  background: $leaf;
  color: $white;
}

.toast-error {
  background: $danger;
  color: $white;
}

::ng-deep .toast-success .mat-simple-snackbar, ::ng-deep .toast-error .mat-simple-snackbar {
  @include flex(flex, center, center);
  @include font('small');
}
